/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.281);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.titulo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  
    color: rgb(255, 255, 255);
}



.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
   
}

.form input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 10px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    margin: 20px;
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}